@import "~milligram/dist/milligram.css";

.box {
    border-left: .3rem solid #9b4dca;
    background: #f4f5f6;
}

.box input {
    background-color: #fff;
}

table th:nth-child(1),
table td:nth-child(1) {
    width: 400px;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 100px;
}
